.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
Dummy.Rmd
Dummy_cache/
Dummy_files/
First_draft_cache/
*.odt
First_draft.pdf
*.bib~
*.bib~*
skeleton.bib
EJ1164300.pdf
Slide_rule.png
different kind of knowing - CoLIS9 paper.pdf
.First_draft.Rmd.swp
.First_draft.Rmd.un~
First_draft.Rmd~